<meta http-equiv="refresh" content="5; url=/" />
<div class="container">
  <h1 class="title">Email Verification</h1>
  <p class="content">
    <% if (typeof error === 'string') { %> <%= error %> <% } else { %> Your
    email verification was a success! <% } %><br />
    Redirecting in 5 seconds.
  </p>
</div>
