<div class="container">
  <h1 class="title">Forgot Password</h1>

  <% if (errors && errors.suspended) { %>
  <article class="message is-danger">
    <div class="message-header">
      <p>Account is Suspended</p>
    </div>
    <div class="message-body">
      Your account was suspended for the following reason:<br />
      <%= errors.suspended %>.<br />
      Check your email for more information.
    </div>
  </article>
  <% } %>

  <form method="POST">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input
          class="input <%= errors && errors.email ? 'is-danger' : ''%>"
          type="text"
          name="email"
          value="<%= values.email %>"
        />
      </div>
      <% if (errors && errors.email) { %>
      <p class="help is-danger">
        <%= errors.email %>
      </p>
      <% } %>
    </div>

    <div class="field">
      <button class="button is-link" type="submit">Forgot Password</button>
    </div>
  </form>
</div>
