<div class="container content main">
  <div class="fw">
    <div class="c">
      <span class="icon">
        <i class="fas fa-frown fa-3x has-text-danger"></i>
      </span>
      <span class="has-text-danger pt-1 has-text-weight-medium is-size-4">
        That user could not be found
      </span>
    </div>
  </div>
</div>

<style>
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .fw {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grow {
    flex-grow: 0;
  }
  .main-ctr {
    height: 100%;
  }
  .c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pt-1 {
    padding-top: 1em;
  }
</style>
