<h1 class="title">2-Factor Authentication</h1>
<h2 class="subtitle">Complete</h2>

<div class="content">
  <p>2FA was enabled successfully.</p>
  <a href="/account/mfa">Return to 2FA configuration</a>
</div>
