<h1 class="title">2-Factor Authentication</h1>
<h2 class="subtitle">Configure or disable 2FA</h2>

<% if (!profile.mfa_enabled) { %>
<div class="content">
  <h5>Enabling TOTP (required)</h5>
  <form action="/account/mfa/confirm" method="POST">
    <img src="<%= qrcode %>" style="width: 256px; height: 256px;" />
    <p class="has-text-grey">Or use secret <code><%= secret %></code></p>
    <div class="field">
      <label class="label">2FA code</label>
      <input
        name="mfa_code"
        class="input"
        type="number"
        maxlength="6"
        required
      />
    </div>
    <div class="field">
      <button class="button is-primary" type="submit">Submit</button>
    </div>
  </form>
</div>
<% } else { %>
<div class="content">
  <h5>Disable 2FA</h5>
  <% include disable.ejs %>
</div>
<% } %>
