<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Mirage
      </h1>
      <h2 class="subtitle">
        A private image and file host
      </h2>
    </div>
  </div>
</section>
<nav class="level" style="margin-top: 1rem">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Users</p>
      <p class="title"><%= users %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Images</p>
      <p class="title"><%= images %></p>
    </div>
  </div>
</nav>
<section class="container main">
  <div class="columns">
    <div class="column">
      <h1 class="title">Domains</h1>
      <p class="content">
        Join today, and you will receive access to enticing domains such as
        <a href="https://discock.gg">discock.gg</a>,
        <a href="https://a-virg.in">a-virg.in</a>,
        <a href="https://exploits.systems">exploits.systems</a>, and many more!
      </p>
    </div>
    <div class="column">
      <h1 class="title">Private Host</h1>
      <p class="content">
        Being private provides many benefits. Some benefits include faster
        support, better domains, better funding, and many more benefits.
      </p>
    </div>
    <div class="column">
      <h1 class="title">Discord</h1>
      <iframe
        src="https://discordapp.com/widget?id=619628882018041867&theme=dark"
        width="350"
        height="500"
        allowtransparency="true"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</section>
<style>
  iframe {
    height: 500px;
  }
</style>
