<h1 class="title">URL Nuke</h1>
<h2 class="subtitle">
  Nuke all of the shortened URLs you have created
</h2>
<% if (stage === 1) { %>
<article class="message is-danger">
  <div class="message-header">
    <p>Warning</p>
  </div>
  <div class="message-body">
    This is a <strong>permanent</strong> action! Only proceed if you are certain
    you would like to continue with deleting <strong>all</strong> of your
    shortened URLs.
  </div>
</article>
<% } else if (stage === 2 ) { %>
<article class="message is-success">
  <div class="message-header">
    <p>Success</p>
  </div>
  <div class="message-body">
    Successfully removed all of your shortened URLs.
  </div>
</article>
<% } %>
<form method="POST">
  <input type="hidden" name="stage" value="<%= stage %>" />
  <% if (stage === 0) { %>
  <button class="button is-warning" type="submit">Continue</button>
  <% } else if (stage === 1) { %>
  <button class="button is-danger" type="submit">
    Nuke all shortened URLs (irreversible)
  </button>
  <% } %>
</form>
