<h1 class="title">Discord</h1>
<h2 class="subtitle">Link your Discord to your Mirage account</h2>

<% if (profile.discord !== null) { %>
<article class="message is-warning">
  <div class="message-header">
    <p>Warning</p>
  </div>
  <div class="message-body">
    You already have a Discord linked to your account, continuing will unlink it
    and remove all roles from the Discord.
  </div>
</article>
<% } %>

<div class="content">
  <h5>Linking your Discord to your Mirage account brings many benefits</h5>
  <ul>
    <li>Joins the Discord for fast support</li>
    <li>Gives warnings in DM whenever someone logs into your account</li>
    <li>Gives warnings if your session was possibly stolen</li>
  </ul>
  Linking your Discord is highly recommended, and you can do so by pressing the
  Link button below.
</div>

<a class="button is-primary" href="/oauth/discord/login">Link</a>
