<h1 class="title">Invites</h1>
<h2 class="subtitle">
  View all the invites you have created, or create new ones
</h2>

<p class="has-text-grey">
  The sale or trade of invitation codes is prohibited. See the
  <a href="/legal/guidelines#invites">Account Holder Guidelines</a> for more
  information
</p>
<% if (profile.inviteBanned) { %>
<p class="has-text-danger">
  You have been banned from creating invitation codes.
</p>
<% } else { %> <% if ((profile.availableInvites || 0) > 0) { %>
<p class="content">
  You have <strong><%= profile.availableInvites %></strong> invites left to
  create.
</p>
<% } else { %>
<p class="content">
  You cannot create any invites at this time, contact an admin to request an
  invite.
</p>
<% } %> <% if (profile.admin || profile.moderator || !profile.inviteCreator ||
(profile.availableInvites || 0) < 1) { %>
<form action="/account/invites/create" method="POST">
  <button class="button is-primary" type="submit">Create Invite</button>
</form>
<% } %>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Invite</th>
      <th>Created on</th>
      <th>Redeemed</th>
      <th>Redeemed By</th>
    </tr>
  </thead>
  <tbody>
    <% profile.invites.map(invite => { %>
    <tr>
      <td><%= invite.invite %></td>
      <td><%= invite.createdOn %></td>
      <td>
        <% if (invite.redeemed) { %><strong>Yes</strong> <% } else { %> No<% }
        %>
      </td>
      <td>
        <% if (invite.redeemed) { %> <%= invite.redeemedBy %> <% } %>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } %>
