<h1 class="title">ShareX URL Shortener Generator</h1>
<h2 class="subtitle">
  Generate a ShareX config for use with Mirage's URL Shortener
</h2>

<form method="POST">
  <div class="field">
    <label class="label">Host</label>
    <div class="control">
      <input class="input" type="text" name="host" />
    </div>
    <p class="help">
      See the <a href="/discord" target="_blank">Discord</a> to see all
      available domains.
    </p>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-link" type="submit">
        Generate URL Shortener Config
      </button>
    </div>
  </div>
</form>
