<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column content">
        <p>
          <strong>Mirage</strong> by
          <a href="https://sethstephens.me">Seth Stephens</a>.
        </p>
      </div>
      <div class="column">
        <ul>
          <li><a href="/legal/terms">Terms of Service</a></li>
          <li><a href="/legal/privacy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
