<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column content">
        <p><strong>Mirage</strong> by relative.</p>
        <p>Copyright &copy; 2020</p>
      </div>
      <div class="column">
        <h2 class="subtitle">Support</h2>
        <ul>
          <li><a href="/discord" target="_blank">Discord</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="column">
        <h2 class="subtitle">Legal</h2>
        <ul>
          <li><a href="/legal/terms">Terms of Service</a></li>
          <li><a href="/legal/privacy">Privacy Policy</a></li>
          <li><a href="/legal/guidelines">Account Holder Guidelines</a></li>

          <li>
            <a href="/legal/report" class="has-text-danger">Report Abuse</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
