<div class="navbar">
  <span class="brand">
    mirage
  </span>
  <a
    role="button"
    class="navbar-burger burger"
    aria-label="menu"
    aria-expanded="false"
    data-target="navbar-menu"
  >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <div class="right navbar-menu" id="navbar-menu">
    <a class="item active" href="/">Home</a>
    <a class="item" href="/domains">Domains</a>
    <% if (loggedIn) { %>
    <a class="item" href="/account/upload">Upload</a>
    <a class="item" href="/paste">Paste</a>
    <a class="item" href="/account"> Account</a>
    <a class="item" href="/auth/logout">
      Logout
    </a>
    <% } else { %>
    <a class="item" href="/auth/register">
      Sign Up
    </a>
    <a class="item" href="/auth/login">
      Log In
    </a>
    <% } %>
  </div>
</div>
