<br />
<div class="container">
  <div class="content">
    <h2>Account Holder Guidelines</h2>
    <a name="invites" id="invites">
      <h3>
        Invites
      </h3>
    </a>
    <p>
      The sale of invitation codes is prohibited. This includes trading of
      invitation codes.
    </p>

    <a name="epilogue" id="epilogue">
      <h3>
        Epilogue
      </h3>
    </a>
    <p>Staff members may interpret these guidelines in any way they see fit.</p>
    <p class="has-text-grey">Last updated February 5th, 2020</p>
  </div>
</div>
