<div class="container">
  <h1 class="title">Report Abuse</h1>
  <p>
    Your abuse report was successful. It will be looked at by a moderator within
    24-48 hours.
  </p>
  <p>Keep this ID for your future reference: <code><%= id %></code></p>
</div>
