<div class="content">
  <h1>Administrator Dashboard</h1>
  <p>
    Hello, <%= profile.username %>! Use the tabs to your left to moderate
    images.
  </p>
  <a href="https://freestyle.mirage.photos">Freestyle Dashboard</a>
  <p>
    Please report any bugs freestyle bugs to creatable, he can relay them to me.
  </p>
  <h4>Disclaimer</h4>
  <p>
    Do <strong>not</strong> abuse your power, or you will be removed from your
    position as an administrator.
  </p>
  <p>All actions are logged.</p>
</div>
