<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- meta %> <% include ../includes/styles %>
    <title>Mirage</title>
  </head>
  <body>
    <div class="content-main">
      <% include ../includes/navbar %>
      <br />

      <div>
        <div class="container">
          <%- body %>
        </div>
      </div>
      <div class="grow"></div>

      <% include ../includes/footer %>
    </div>
    <% include ../includes/scripts %>
  </body>
</html>
