<div class="content">
  <h1>Image look-up</h1>
  <p>
    Enter an image ID to look up information
  </p>
  <form method="POST">
    <div class="field">
      <div class="control">
        <label class="label" for="image">Image ID</label>
        <input name="image" id="image" class="input" type="text" />
      </div>
    </div>
    <div class="control">
      <div class="control">
        <button class="button is-primary is-outlined" type="submit">
          Lookup
        </button>
      </div>
    </div>
  </form>
</div>
